Edam.App.Data/Projects/Datovy.HC.CD/Documents/cd.damxml/www.datovy.com_hc_cd_Epidemiology.xsd

<?xml version="1.0" encoding="utf-16"?>
<xs:schema xmlns:cd="http://www.datovy.com/hc/cd" xmlns:cd1="http://www.datovy.com/hc/cd/Clinical" xmlns:cd2="http://www.datovy.com/hc/cd/Surveillance" xmlns:cd3="http://www.datovy.com/hc/cd/Generic" xmlns:cd4="http://www.datovy.com/hc/cd/Geography" xmlns:cd5="http://www.datovy.com/hc/cd/Entity" xmlns:cd6="http://www.datovy.com/hc/cd/Action" xmlns:cd7="http://www.datovy.com/hc/cd/Management" xmlns:cd8="http://www.datovy.com/hc/cd/Application" xmlns:cd9="http://www.datovy.com/hc/cd/Article" xmlns:cd10="http://www.datovy.com/hc/cd/Message" xmlns:cd11="http://www.datovy.com/hc/cd/Provider" xmlns:cd12="http://www.datovy.com/hc/cd/Epidemiology" targetNamespace="http://www.datovy.com/hc/cd/Epidemiology" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Type_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Type ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Description" type="cd12:string" />
  <xs:element name="Category_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Category ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CodeSet_Name" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Code Set Name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Tenant_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Tenant ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Data_Owner_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Data Owner ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Agency_Reporting_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Agency Reporting ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sequence_Number" type="cd12:integer">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Sequence Number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Effective_DateTime" type="cd12:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Effective Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Effective_End_DateTime" type="cd12:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Effective End Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Version_Number" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Version Number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Created_DateTime" type="cd12:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Created Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Updated_DateTime" type="cd12:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Updated Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Record_Status_Code_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Record Status Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Session_Updated_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Session Updated ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Specimen_Source_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Note_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Note_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Note ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Note_Type_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Note Type ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Note_Text" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Note Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Note_DateTime" type="cd12:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Note Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Author_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Author ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Author_Role_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Author Role ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Author_Name" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Author Name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Status_Code_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Status Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Status_DateTime" type="cd12:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Status Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Lab_Result_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Lab Result ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Specimen_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Specimen ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Note_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Note_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Note_Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Note_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Note_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Author_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Author_Role_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Author_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Lab_Result_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Specimen_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tags" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Provided to set a comma delimited list of Privacy, Security or other data Tags such as GDPR, HIPAA, PII or other.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Media_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Tags" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Media_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Media ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Alternate_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Alternate ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Category_Text" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Category Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Status_Code" type="cd12:integer">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Status Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Url_Text" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Url Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Size_In_Bytes" type="cd12:integer">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Size In Bytes</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Media_Data" type="cd12:varbinary">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Media Data</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Scope_Code_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Scope Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Content_Type_Code_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Content Type Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Content_Type_Text" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Content Type Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Default_Indicator" type="cd12:boolean">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Default Indicator</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Serial_No" type="cd12:long">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Serial No</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reference_Date_Type_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Reference Date Type ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reference_DateTime" type="cd12:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Reference Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Media_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Media_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Alternate_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Category_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Status_Code" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Url_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Size_In_Bytes" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Media_Data" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Scope_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Content_Type_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Content_Type_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Default_Indicator" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Serial_No" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Reference_Date_Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Reference_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Lab_Result_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Specimen_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Lab_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Lab_Test_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Lab_Result_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Laboratory_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Laboratory ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Lab_Result_DateTime" type="cd12:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Lab Result Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Result_Type_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Result Type ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Result_Value" type="cd12:DECIMAL">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Result Value</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Result_Unit" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Result Unit</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Lab_Result_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Lab_Result_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Laboratory_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Lab_Result_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Result_Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Result_Value" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Result_Unit" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lab_Code_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Lab Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Name" type="cd12:string" />
  <xs:element name="Vendor_LIMS_Code_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">LIMS - Laborary Information Management System</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Organization_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Organization ID
External reference to (Entity) Organization</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Laboratory_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Laboratory_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Alternate_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Lab_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Vendor_LIMS_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Organization_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Code_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Lab_Test_Interpretation_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Unit_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lab_Test_Report_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Lab Test Report ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Lab_Type_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Performing laboratory type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Test_Type_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Epidemiologic interpretation of the type of test(s) performed for this case</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Test_Interpretation_Code_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Epidemiologic interpretation of the results of the test(s) performed for this case. This is a qualitative test result.  (e.g, positive, detected, negative)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Test_Result_Quantitative" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Quantitative Test Result Value</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Test_Result_Unit_Code_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Units of measure for the Quantitative Test Result Value</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Specimen_Source_Type_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">This indicates the source of the specimen tested.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Specimen_Collection_Date" type="cd12:date">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Date of collection of laboratory specimen used for diagnosis of health event reported in this case report. Time of collection is an optional addition to date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Specimen_Sent_Date" type="cd12:date">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Date specimen sent to CDC</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Case ID
External reference to (Management) Case</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Lab_Test_Report_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Lab_Test_Report_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Laboratory_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Lab_Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Test_Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Test_Interpretation_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Test_Result_Quantitative" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Test_Result_Unit_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Specimen_Source_Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Specimen_Collection_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Specimen_Sent_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lab_Link_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Lab Link ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Subject_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Lab message patient Identifier that will be used along with the reference laboratory and specimen identifier to uniquely identify a VPD lab message
External reference to (Entity) Person</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Lab_Link_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Lab_Link_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Laboratory_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Subject_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Specimen_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lab_Report_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Lab Report ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Report_Date" type="cd12:date">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Report Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Testing_Performed_Flag_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Was laboratory testing done to confirm the diagnosis?</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Lab_Confirmed_Flag_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Was the case laboratory confirmed?</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Specimen_Sent_Flag_ID" type="cd12:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Was a specimen sent to CDC for testing?</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Lab_Report_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Lab_Report_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Report_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Testing_Performed_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Lab_Confirmed_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Specimen_Sent_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Subject_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Specimen_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Specimen_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Subject_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd12:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Specimen_Source_Type" type="cd12:Specimen_Source_Type_">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Specimen Source Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Note_Type" type="cd12:Note_Type_">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Note Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Note" type="cd12:Note_" />
  <xs:element name="Media_Type" type="cd12:Media_Type_">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Media Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Media" type="cd12:Media_" />
  <xs:element name="Lab_Type" type="cd12:Lab_Type_">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Lab Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Lab_Test_Type" type="cd12:Lab_Test_Type_">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Lab Test Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Lab_Result_Type" type="cd12:Lab_Result_Type_">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Lab Result Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Lab_Result" type="cd12:Lab_Result_">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Lab Result</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Laboratory" type="cd12:Laboratory_" />
  <xs:element name="Lab_Test_Interpretation_Code" type="cd12:Lab_Test_Interpretation_Code_">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Lab Test Interpretation Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Unit_Code" type="cd12:Unit_Code_">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Unit Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Lab_Test_Report" type="cd12:Lab_Test_Report_">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Lab Test Report</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Lab_Link" type="cd12:Lab_Link_">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Lab Link</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Lab_Report" type="cd12:Lab_Report_">
    <xs:annotation>
      <xs:documentation source="http://hc/Epidemiology/">Lab Report</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Specimen" type="cd12:Specimen_" />
  <xs:complexType name="Epidemiology_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd12:Specimen_Source_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd12:Note_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd12:Note" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd12:Media_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd12:Media" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd12:Lab_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd12:Lab_Test_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd12:Lab_Result_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd12:Lab_Result" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd12:Laboratory" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd12:Lab_Test_Interpretation_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd12:Unit_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd12:Lab_Test_Report" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd12:Lab_Link" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd12:Lab_Report" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd12:Specimen" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>