Edam.App.Data/Projects/Datovy.HC.CD/Documents/cd.damxml/www.datovy.com_hc_cd_Generic.xsd

<?xml version="1.0" encoding="utf-16"?>
<xs:schema xmlns:cd="http://www.datovy.com/hc/cd" xmlns:cd1="http://www.datovy.com/hc/cd/Clinical" xmlns:cd2="http://www.datovy.com/hc/cd/Surveillance" xmlns:cd3="http://www.datovy.com/hc/cd/Generic" xmlns:cd4="http://www.datovy.com/hc/cd/Geography" xmlns:cd5="http://www.datovy.com/hc/cd/Entity" xmlns:cd6="http://www.datovy.com/hc/cd/Action" xmlns:cd7="http://www.datovy.com/hc/cd/Management" xmlns:cd8="http://www.datovy.com/hc/cd/Application" xmlns:cd9="http://www.datovy.com/hc/cd/Article" xmlns:cd10="http://www.datovy.com/hc/cd/Message" xmlns:cd11="http://www.datovy.com/hc/cd/Provider" xmlns:cd12="http://www.datovy.com/hc/cd/Epidemiology" targetNamespace="http://www.datovy.com/hc/cd/Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Type_ID" type="cd3:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Type ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Description" type="cd3:string" />
  <xs:element name="Category_ID" type="cd3:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Category ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CodeSet_Name" type="cd3:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Code Set Name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Tenant_ID" type="cd3:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Tenant ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Data_Owner_ID" type="cd3:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Data Owner ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Agency_Reporting_ID" type="cd3:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Agency Reporting ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Version_Number" type="cd3:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Version Number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Effective_DateTime" type="cd3:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Effective Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Effective_End_DateTime" type="cd3:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Effective End Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sequence_Number" type="cd3:integer">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Sequence Number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Created_DateTime" type="cd3:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Created Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Updated_DateTime" type="cd3:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Updated Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Record_Status_Code_ID" type="cd3:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Record Status Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Session_Updated_ID" type="cd3:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Session Updated ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Entity_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entity_ID" type="cd3:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Entity ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Entity_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Entity_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tags" type="cd3:string" />
  <xs:complexType name="Element_Value_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Tags" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Element_Value_ID" type="cd3:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Element Value ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Element_ID" type="cd3:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Element ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sequence_No" type="cd3:integer">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Sequence No</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reference_Date" type="cd3:date">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Reference Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reference_Time" type="cd3:time">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Reference Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Entity_Type_ID" type="cd3:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Entity Type ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Checked" type="cd3:boolean" />
  <xs:element name="Start_Date" type="cd3:date">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Start Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="End_Date" type="cd3:date">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">End Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Start_Value" type="cd3:DECIMAL">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Start Value</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="End_Value" type="cd3:DECIMAL">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">End Value</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Value_Numeric" type="cd3:DECIMAL">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Value Numeric</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Value_Text" type="cd3:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Value Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Element_Value_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Element_Value_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Element_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Sequence_No" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Reference_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Reference_Time" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Entity_Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Entity_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Checked" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Start_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:End_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Start_Value" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:End_Value" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Value_Numeric" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Value_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Group_ID" type="cd3:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Group ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Label_Text" type="cd3:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Label Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Period_To_Comply" type="cd3:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Period To Comply</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Required_Code_ID" type="cd3:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Required Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Value_Type_ID" type="cd3:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Value Type ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Code_Type_ID" type="cd3:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Code Type ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Element_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Element_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Group_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Label_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Sequence_No" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Period_To_Comply" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Required_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Value_Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Code_Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Checked" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Start_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:End_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Start_Value" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:End_Value" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Value_Numeric" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Value_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd3:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entity_Type" type="cd3:Entity_Type_">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Entity Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Entity" type="cd3:Entity_" />
  <xs:element name="Element_Value_Type" type="cd3:Element_Value_Type_">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Element Value Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Element_Value" type="cd3:Element_Value_">
    <xs:annotation>
      <xs:documentation source="http://hc/Generic/">Element Value</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Element" type="cd3:Element_" />
  <xs:complexType name="Generic_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd3:Entity_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd3:Entity" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd3:Element_Value_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd3:Element_Value" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd3:Element" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>