Edam.App.Data/Projects/Datovy.HC.CD/Documents/cd.dam-xml/www.datovy.com_hc_cd_Geography.xsd

<?xml version="1.0" encoding="utf-16"?>
<xs:schema xmlns:cd="http://www.datovy.com/hc/cd" xmlns:cd1="http://www.datovy.com/hc/cd/Clinical" xmlns:cd2="http://www.datovy.com/hc/cd/Surveillance" xmlns:cd3="http://www.datovy.com/hc/cd/Generic" xmlns:cd4="http://www.datovy.com/hc/cd/Geography" xmlns:cd5="http://www.datovy.com/hc/cd/Entity" xmlns:cd6="http://www.datovy.com/hc/cd/Action" xmlns:cd7="http://www.datovy.com/hc/cd/Management" xmlns:cd8="http://www.datovy.com/hc/cd/Application" xmlns:cd9="http://www.datovy.com/hc/cd/Article" xmlns:cd10="http://www.datovy.com/hc/cd/Message" xmlns:cd11="http://www.datovy.com/hc/cd/Provider" xmlns:cd12="http://www.datovy.com/hc/cd/Epidemiology" targetNamespace="http://www.datovy.com/hc/cd/Geography" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Type_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Type ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Description" type="xs:string" />
  <xs:element name="Category_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Category ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CodeSet_Name" type="xs:string">
    <xs:annotation>
      <xs:documentation>Code Set Name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Tenant_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Tenant ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Data_Owner_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Data Owner ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Agency_Reporting_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Agency Reporting ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sequence_Number" type="xs:integer">
    <xs:annotation>
      <xs:documentation>Sequence Number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Effective_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Effective Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Effective_End_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Effective End Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Version_Number" type="xs:string">
    <xs:annotation>
      <xs:documentation>Version Number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Created_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Created Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Updated_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Updated Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Record_Status_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Record Status Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Session_Updated_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Session Updated ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Location_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Note_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Note_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Note ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Note_Type_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Note Type ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Note_Text" type="xs:string">
    <xs:annotation>
      <xs:documentation>Note Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Note_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Note Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Author_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Author ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Author_Role_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Author Role ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Author_Name" type="xs:string">
    <xs:annotation>
      <xs:documentation>Author Name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Status_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Status Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Status_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Status Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Location_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Location ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Note_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Note_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Note_Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Note_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Note_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Author_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Author_Role_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Author_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Location_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tags" type="xs:string">
    <xs:annotation>
      <xs:documentation>Provided to set a comma delimited list of Privacy, Security or other data Tags such as GDPR, HIPAA, PII or other.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Media_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Tags" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Media_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Media ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Alternate_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Alternate ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Category_Text" type="xs:string">
    <xs:annotation>
      <xs:documentation>Category Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Status_Code" type="xs:integer">
    <xs:annotation>
      <xs:documentation>Status Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Url_Text" type="xs:string">
    <xs:annotation>
      <xs:documentation>Url Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Size_In_Bytes" type="xs:integer">
    <xs:annotation>
      <xs:documentation>Size In Bytes</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Media_Data" type="xs:string">
    <xs:annotation>
      <xs:documentation>Media Data</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Scope_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Scope Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Content_Type_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Content Type Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Content_Type_Text" type="xs:string">
    <xs:annotation>
      <xs:documentation>Content Type Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Default_Indicator" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>Default Indicator</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Serial_No" type="xs:long">
    <xs:annotation>
      <xs:documentation>Serial No</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reference_Date_Type_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Reference Date Type ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reference_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Reference Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Media_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Media_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Alternate_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Category_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Status_Code" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Url_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Size_In_Bytes" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Media_Data" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Scope_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Content_Type_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Content_Type_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Default_Indicator" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Serial_No" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Reference_Date_Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Reference_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Location_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alternate_Type" type="xs:string">
    <xs:annotation>
      <xs:documentation>Alternate Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Name" type="xs:string" />
  <xs:element name="Alias" type="xs:string" />
  <xs:element name="Landmark_Text" type="xs:string">
    <xs:annotation>
      <xs:documentation>Landmark Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Address_Full_Text" type="xs:string">
    <xs:annotation>
      <xs:documentation>Address Full Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Address_Line_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Address Line ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Address_Structured_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Address Structured ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="City_Name" type="xs:string">
    <xs:annotation>
      <xs:documentation>City Name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="State_Code" type="xs:string">
    <xs:annotation>
      <xs:documentation>State Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Postal_Code" type="xs:string">
    <xs:annotation>
      <xs:documentation>Postal Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Postal_Code_Extension" type="xs:string">
    <xs:annotation>
      <xs:documentation>Postal Code Extension</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Region_Code" type="xs:string">
    <xs:annotation>
      <xs:documentation>Region Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="District_Code" type="xs:string">
    <xs:annotation>
      <xs:documentation>District Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Country_Code" type="xs:string">
    <xs:annotation>
      <xs:documentation>Country Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Latitude" type="xs:DECIMAL" />
  <xs:element name="Longitude" type="xs:DECIMAL" />
  <xs:element name="Primary_Indicator" type="xs:string">
    <xs:annotation>
      <xs:documentation>Primary Indicator</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Location_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Location_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Alternate_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Alternate_Type" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Alias" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Landmark_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Address_Full_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Address_Line_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Address_Structured_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:City_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:State_Code" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Postal_Code" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Postal_Code_Extension" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Region_Code" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:District_Code" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Country_Code" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Latitude" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Longitude" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Primary_Indicator" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Associated_Entity" type="xs:string">
    <xs:annotation>
      <xs:documentation>Associated Entity</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Class_Feature_Place_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Associated_Entity" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Area_Description_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Associated_Entity" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Country_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="State_FIPS" type="xs:string">
    <xs:annotation>
      <xs:documentation>State FIPS</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="County_FIPS" type="xs:string">
    <xs:annotation>
      <xs:documentation>County FIPS</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="County_ANSI" type="xs:string">
    <xs:annotation>
      <xs:documentation>County ANSI</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Geography_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>County identifier; a concatenation of Current state FPIPS code and county FIPS code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Name_LSAD" type="xs:string">
    <xs:annotation>
      <xs:documentation>Current name and the tralsnated legal/statistical area description for county</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Area_Description_LSAD" type="xs:string">
    <xs:annotation>
      <xs:documentation>Current legal/statistical area description code for county</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Class_FIPS" type="xs:string">
    <xs:annotation>
      <xs:documentation>Current FIPS class code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Feature_Class_MTF" type="xs:string">
    <xs:annotation>
      <xs:documentation>MAF/TIGER Feature Class Code (G4020)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Area_CSAFP" type="xs:string">
    <xs:annotation>
      <xs:documentation>Current FIPS class code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Area_CBSAFP" type="xs:string">
    <xs:annotation>
      <xs:documentation>Current metropolitan statistical area/micropolitan statistical area code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Metro_Division_Code" type="xs:string">
    <xs:annotation>
      <xs:documentation>Current metropolitan division code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Functional_Status" type="xs:string">
    <xs:annotation>
      <xs:documentation>Current functional status</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Area_Land" type="xs:DECIMAL">
    <xs:annotation>
      <xs:documentation>Area Land</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Area_Water" type="xs:DECIMAL">
    <xs:annotation>
      <xs:documentation>Area Water</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="County_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:State_FIPS" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:County_FIPS" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:County_ANSI" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Geography_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Name_LSAD" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Area_Description_LSAD" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Class_FIPS" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Feature_Class_MTF" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Area_CSAFP" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Area_CBSAFP" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Metro_Division_Code" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Functional_Status" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Area_Land" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Area_Water" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Latitude" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Longitude" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Building_Name" type="xs:string">
    <xs:annotation>
      <xs:documentation>Building Name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Unit_Number" type="xs:string">
    <xs:annotation>
      <xs:documentation>Unit Number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Mailbox" type="xs:string" />
  <xs:element name="Street_Number" type="xs:string">
    <xs:annotation>
      <xs:documentation>Street Number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Street_Name" type="xs:string">
    <xs:annotation>
      <xs:documentation>Street Name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Street_Direction" type="xs:string">
    <xs:annotation>
      <xs:documentation>Street Direction</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Street_Prefix" type="xs:string">
    <xs:annotation>
      <xs:documentation>Street Prefix</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Street_Suffix" type="xs:string">
    <xs:annotation>
      <xs:documentation>Street Suffix</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Address_Structured_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Address_Structured_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Building_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Unit_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Mailbox" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Street_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Street_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Street_Direction" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Street_Prefix" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Street_Suffix" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address_Text1" type="xs:string">
    <xs:annotation>
      <xs:documentation>Address Text1</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Address_Text2" type="xs:string">
    <xs:annotation>
      <xs:documentation>Address Text2</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Address_Text3" type="xs:string">
    <xs:annotation>
      <xs:documentation>Address Text3</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Address_Text4" type="xs:string">
    <xs:annotation>
      <xs:documentation>Address Text4</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Address_Text5" type="xs:string">
    <xs:annotation>
      <xs:documentation>Address Text5</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Address_Line_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Address_Line_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Address_Text1" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Address_Text2" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Address_Text3" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Address_Text4" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Address_Text5" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Zip_5_Code" type="xs:string">
    <xs:annotation>
      <xs:documentation>Zip 5 Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Zip_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Zip_5_Code" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Geography_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Class_FIPS" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Metro_Division_Code" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Functional_Status" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Area_Land" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Area_Water" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Latitude" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Longitude" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Subdivision_FIPS" type="xs:string">
    <xs:annotation>
      <xs:documentation>Subdivision FIPS</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Subdivision_ANSI" type="xs:string">
    <xs:annotation>
      <xs:documentation>Subdivision ANSI</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="County_Subdivision_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:State_FIPS" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:County_FIPS" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Subdivision_FIPS" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Subdivision_ANSI" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Geography_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Name_LSAD" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Area_Description_LSAD" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Class_FIPS" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Feature_Class_MTF" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Area_CSAFP" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Area_CBSAFP" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Metro_Division_Code" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Functional_Status" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Area_Land" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Area_Water" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Latitude" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Longitude" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Region_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Region Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Division_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Division Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="State_ANSI" type="xs:string">
    <xs:annotation>
      <xs:documentation>State ANSI</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="USPS_Abbreviation" type="xs:string">
    <xs:annotation>
      <xs:documentation>USPS Abbreviation</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="State_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Region_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Division_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:State_FIPS" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:State_ANSI" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Geography_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:USPS_Abbreviation" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Area_Description_LSAD" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Feature_Class_MTF" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Area_Land" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Area_Water" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Latitude" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Longitude" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Region_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd4:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location_Type" type="cd4:Location_Type_">
    <xs:annotation>
      <xs:documentation>Location Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Note_Type" type="cd4:Note_Type_">
    <xs:annotation>
      <xs:documentation>Note Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Note" type="cd4:Note_" />
  <xs:element name="Media_Type" type="cd4:Media_Type_">
    <xs:annotation>
      <xs:documentation>Media Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Media" type="cd4:Media_" />
  <xs:element name="Location" type="cd4:Location_" />
  <xs:element name="Class_Feature_Place_Code" type="cd4:Class_Feature_Place_Code_">
    <xs:annotation>
      <xs:documentation>Class Feature Place Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Area_Description_Code" type="cd4:Area_Description_Code_">
    <xs:annotation>
      <xs:documentation>Area Description Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="County_Code" type="cd4:County_Code_">
    <xs:annotation>
      <xs:documentation>County Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Address_Structured" type="cd4:Address_Structured_">
    <xs:annotation>
      <xs:documentation>Address Structured</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Address_Line" type="cd4:Address_Line_">
    <xs:annotation>
      <xs:documentation>Address Line</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Zip_Code" type="cd4:Zip_Code_">
    <xs:annotation>
      <xs:documentation>Zip Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="County_Subdivision_Code" type="cd4:County_Subdivision_Code_">
    <xs:annotation>
      <xs:documentation>County Subdivision Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Geography_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd4:Location_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd4:Note_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd4:Note" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd4:Media_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd4:Media" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd4:Location" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd4:Class_Feature_Place_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd4:Area_Description_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd4:Country_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd4:County_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd4:Address_Structured" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd4:Address_Line" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd4:Zip_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd4:County_Subdivision_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd4:State_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd4:Region_Code" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>