Edam.App.Data/Projects/Datovy.HC.CD/Documents/cd.dam-xml/www.datovy.com_hc_cd_Surveillance.xsd

<?xml version="1.0" encoding="utf-16"?>
<xs:schema xmlns:cd="http://www.datovy.com/hc/cd" xmlns:cd1="http://www.datovy.com/hc/cd/Clinical" xmlns:cd2="http://www.datovy.com/hc/cd/Surveillance" xmlns:cd3="http://www.datovy.com/hc/cd/Generic" xmlns:cd4="http://www.datovy.com/hc/cd/Geography" xmlns:cd5="http://www.datovy.com/hc/cd/Entity" xmlns:cd6="http://www.datovy.com/hc/cd/Action" xmlns:cd7="http://www.datovy.com/hc/cd/Management" xmlns:cd8="http://www.datovy.com/hc/cd/Application" xmlns:cd9="http://www.datovy.com/hc/cd/Article" xmlns:cd10="http://www.datovy.com/hc/cd/Message" xmlns:cd11="http://www.datovy.com/hc/cd/Provider" xmlns:cd12="http://www.datovy.com/hc/cd/Epidemiology" targetNamespace="http://www.datovy.com/hc/cd/Surveillance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Complication_Report_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Complication Report ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Report_Date" type="cd2:date">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Report Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Permanent_Flag_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Permanent Flag ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Travel_Time_Last" type="cd2:integer">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Length of time in the US since the last travel</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Travel_Time_Unit_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Length of Time in the US units </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Travel_Country_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">List any international destinations of recent travel</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Travel_Returned_Date" type="cd2:date">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Travel Returned Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Import_Status_Flag_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Did symptom onset occur within 12-25 days of entering the US, following any travel or living outside the US?</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Exposure_Source_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Sub-classification of disease or condition acquired in the US</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Detection_Method_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Detection Method</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Patient_Address_City_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Patient address city</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Investigation_Status_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Case investigation status code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Transmission_Setting_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">What was the transmission setting where the condition was acquired?</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Age_Setting_Verified_Flag_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Does the age of the case match or make sense for the transmission setting listed (e.g., a subject aged 80 probably would not have a transmission setting of child day care center)?</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Epidemiology_Linked_Flag_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Is this case Epi-Linked to another confirmed or probable case?</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Case ID... External reference to (Management) Case</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Subject_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Subject ID... External reference to (Entity) Person</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Tenant_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Tenant ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Data_Owner_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Data Owner ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Agency_Reporting_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Agency Reporting ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sequence_Number" type="cd2:integer">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Sequence Number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Effective_DateTime" type="cd2:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Effective Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Effective_End_DateTime" type="cd2:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Effective End Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Version_Number" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Version Number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Created_DateTime" type="cd2:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Created Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Updated_DateTime" type="cd2:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Updated Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Record_Status_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Record Status Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Session_Updated_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Session Updated ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Complication_Report_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Complication_Report_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Report_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Permanent_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Travel_Time_Last" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Travel_Time_Unit_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Travel_Country_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Travel_Returned_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Import_Status_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Exposure_Source_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Detection_Method_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Patient_Address_City_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Investigation_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Transmission_Setting_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Age_Setting_Verified_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Epidemiology_Linked_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Subject_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Description" type="cd2:string" />
  <xs:element name="Category_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Category ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CodeSet_Name" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Code Set Name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Notifiable_Indicator" type="cd2:boolean">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Notifiable Indicator</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Reporting_Criteria_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Notifiable_Indicator" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Type_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Type ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Reporting_Source_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Result_Status_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Case_Class_Status_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Case_Transmission_Mode_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exposure_Report_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Exposure Report ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Transmission_Mode_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Code for the mechanism by which disease or condition was acquired by the subject of the investigation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reporting_State_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Reporting State Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reporting_County_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Reporting County Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case_Class_Status_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Status of the case/event as suspect, probable, confirmed, or not a case per CSTE/CDC/ surveillance case definitions.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case_Outbreak_Flag_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Denotes whether the reported case was associated with an identified outbreak.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case_Outbreak_Name_Text" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Denotes whether the reported case was associated with an identified outbreak.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case_Investigation_Start_Date" type="cd2:date">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Case Investigation Start Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case_Submitted_First_Date" type="cd2:date">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Case Submitted First Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case_Notified_CDC_Date" type="cd2:date">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Case Notified CDC Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Notify_Immediate_Flag_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Does this case meet the criteria for immediate (extremely urgent or urgent) notification to CDC?</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Notification_Result_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Status of the notification</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Jurisdiction_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Identifier for the physical site from which the notification is being submitted. Locally defined field.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reported_Date" type="cd2:date">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Reported Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reported_State_Date" type="cd2:date">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Reported State Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reported_County_Date" type="cd2:date">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Reported County Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reporting_Source_Type_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Type of facility or provider associated with the source of information sent to Public Health.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reporting_Source_Zip_Code" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">ZIP Code of the reporting source for this case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reporting_Criteria_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">For cases meeting the binational criteria, select all the criteria which are met.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reporting_Jurisdiction_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Reporting Jurisdiction Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Person_Reporting_Name_Text" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Person Reporting Name Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Person_Reporting_Phone_Number" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Person Reporting Phone Number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Person_Reporting_Email" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Person Reporting Email</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Comment_Text" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Comment Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case_Report_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Case Report ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Location_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Location ID... External reference to (Geography) Location</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Exposure_Report_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Exposure_Report_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Transmission_Mode_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Reporting_State_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Reporting_County_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Case_Class_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Case_Outbreak_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Case_Outbreak_Name_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Case_Investigation_Start_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Case_Submitted_First_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Case_Notified_CDC_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Notify_Immediate_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Notification_Result_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Jurisdiction_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Reported_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Reported_State_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Reported_County_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Reporting_Source_Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Reporting_Source_Zip_Code" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Reporting_Criteria_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Reporting_Jurisdiction_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Person_Reporting_Name_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Person_Reporting_Phone_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Person_Reporting_Email" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Comment_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Case_Report_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Location_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Profile_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Assessment_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Travel_Detail_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Travel Detail ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Travel_Parent_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Travel Parent ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Purpose_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Purpose Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Travel_Number" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Travel Number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="State_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">State Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="County_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">County Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Country_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Country Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Origin_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Origin ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Destination_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Destination ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Departure_DateTime" type="cd2:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Departure Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Arrival_DateTime" type="cd2:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Arrival Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Travel_Detail_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Travel_Detail_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Travel_Parent_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Purpose_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Subject_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Travel_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:State_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:County_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Country_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Origin_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Destination_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Departure_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Arrival_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profile_Condition_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Profile Condition ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Profile_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Profile ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Condition_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Condition Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Profile_Condition_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Profile_Condition_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Profile_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Condition_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profile_Type_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Profile Type ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Profile_Name" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Profile Name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Status_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Status Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Status_DateTime" type="cd2:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Status Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Profile_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Profile_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Profile_Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Profile_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Questionnaire_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Questionnaire ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Questionnaire_No" type="cd2:integer">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Questionnaire No</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Title" type="cd2:string" />
  <xs:element name="Questionnaire_URL" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Questionnaire URL</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Questionnaire_Answer_URL" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Questionnaire Answer URL</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Assessment_Questionnaire_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Questionnaire_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Questionnaire_No" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Title" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Questionnaire_URL" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Questionnaire_Answer_URL" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Question ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Question_Sequence" type="cd2:integer">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Question Sequence</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Question_Text" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Question Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Answer_Type_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Base Type Complex Type single-select, multi-select radio button, date-time if calendar, free text, option</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Assessment_Question_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Question_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Question_Sequence" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Question_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Questionnaire_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Answer_Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Answer_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Answer ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Assessment_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Assessment ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AnswerValue" type="cd2:string" />
  <xs:complexType name="Assessment_Answer_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Answer_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Assessment_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Question_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:AnswerValue" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alternate_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Alternate ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Assessment_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Assessment_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Alternate_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Questionnaire_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Subject_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Answer_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Report_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Illness_Onset_Date" type="cd2:date">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Date of the beginning of the illness.  Reported date of the onset of symptoms of the condition being reported to the public health system.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Illness_End_Date" type="cd2:date">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Date at which the disease or condition ends.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Illness_Duration" type="cd2:integer">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Length of time this subject had this disease or condition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Illness_Duration_Unit_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Unit of time used to describe the length of the illness or condition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Pregnancy_Status_Flag_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Indicates whether the subject was pregnant at the time of the event.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Diagnosis_Date" type="cd2:date">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Diagnosis Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hospitalized_Flag_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Was subject hospitalized because of this event?</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Hospital_Stay_InDays" type="cd2:integer">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Subject's duration of stay at the hospital for the condition covered by the investigation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Admission_Date" type="cd2:date">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Subject’s most recent admission date to the hospital for the condition covered by the investigation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Discharged_Date" type="cd2:date">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Subject’s most recent discharge date from the hospital for the condition covered by the investigation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Exposure_Setting_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Place or location where subject may had been exposed to the virus or disease</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Subject_Died_Flag_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Did the subject die from this illness or complications of this illness?</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Deceased_Date" type="cd2:date">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">If the subject died from this illness or complications associated with this illness, indicate the date of death.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Deceased_Source_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Indication of where the disease/condition was likely acquired.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Imported_Country_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">If the disease or condition was imported, indicates the country in which the disease was likely acquired.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Imported_State_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">If the disease or condition was imported, indicates the state in which the disease was likely acquired.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Imported_City_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">If the disease or condition was imported, indicates the city in which the disease was likely acquired.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Imported_County_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">If the disease or condition was imported, contains the county of origin of the disease or condition..</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Age_At_Case" type="cd2:integer">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Subject age at time of case investigation</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Age_Unit_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Subject age unit at time of case investigation</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case_State_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Case State ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case_Legacy_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Case Legacy ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Case_Report_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Case_Report_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Report_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Illness_Onset_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Illness_End_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Illness_Duration" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Illness_Duration_Unit_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Pregnancy_Status_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Diagnosis_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Hospitalized_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Hospital_Stay_InDays" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Admission_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Discharged_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Exposure_Setting_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Condition_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Subject_Died_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Deceased_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Deceased_Source_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Imported_Country_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Imported_State_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Imported_City_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Imported_County_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Age_At_Case" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Age_Unit_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Case_State_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Case_Legacy_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Subject_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Travel_Purpose_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="City_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">City Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Exposure_Location_Report_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Exposure_Report_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Country_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:State_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:City_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:County_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Case_Report_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Jurisdiction_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Unit_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Event_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Notifiable_Indicator" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Sexual_Preference_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Indicator_Flag_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Contact_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact_Report_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Contact Report ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Contacted_Date" type="cd2:date">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Contacted Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Contact_Type_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">During the 2-6 weeks prior to the onset of symptoms, type of contact the subject had with a person with confirmed or suspected virus infection?</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Contact_Type_Other_Flag_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Contact Type Other Flag ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Contact_Type_Other_Text" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Contact Type Other Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Contact_Flag_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">During the 2-6 weeks prior to the onset of symptoms, answer (Yes, No, Unknown) for each type of contact the subject had with a person with confirmed or suspected virus infection</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case_Linked_Flag_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">During the 2-6 weeks prior to the onset of symptoms, was the subject in contact with a person with confirmed or suspected virus infection?</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Child_Care_Linked_Flag_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Child Care Linked Flag ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Child_Care_Case_Flag_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Was there an identified virus case in the childcare facility?</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sexual_Preference_Code_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">What is/was the subject's sexual preference?</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sexual_Partner_Male_Total" type="cd2:integer">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Sexual Partner Male Total</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sexual_Partner_Female_Total" type="cd2:integer">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Sexual Partner Female Total</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Drug_Used_Flag_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">During the 2-6 weeks prior to the onset of symptoms, did the subject inject drugs not prescribed by a doctor?</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Drug_Street_Used_Flag_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">During the 2-6 weeks prior to the onset of symptoms, did the subject use street drugs but not inject?</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Traveled_Flag_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Traveled Flag ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Outbreak_Source_Flag_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Outbreak Source Flag ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Outbreak_Foodborne_Flag_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Subject is associated with a foodborne outbreak that is associated with an infected food handler?</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Outbreak_Food_Item_Text" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Outbreak Food Item Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Outbreak_Waterborne_Flag_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Subject is associated with a foodborne outbreak that is associated with an infected food handler?</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Outbreak_Unidentified_Flag_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Subject is associated with an outbreak that does not have an identified source?</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Food_Handler_Flag_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">During the 2 weeks prior to the onset of symptoms or while ill, was the subject employed as a food handler?</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Contact_Report_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Contact_Report_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Report_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Contacted_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Contact_Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Contact_Type_Other_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Contact_Type_Other_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Contact_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Epidemiology_Linked_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Case_Linked_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Child_Care_Linked_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Child_Care_Case_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sexual_Preference_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sexual_Partner_Male_Total" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sexual_Partner_Female_Total" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Drug_Used_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Drug_Street_Used_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Traveled_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Travel_Detail_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Outbreak_Source_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Outbreak_Foodborne_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Outbreak_Food_Item_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Outbreak_Waterborne_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Outbreak_Unidentified_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Food_Handler_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Subject_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exposure_Setting_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Viral_Report_ID" type="cd2:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Viral Report ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Viral_Report_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Viral_Report_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Report_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Transmission_Setting_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Detection_Method_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Case_Investigation_Stattus_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Case_Classification_Exposure_Source_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd2:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Complication_Report" type="cd2:Complication_Report_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Complication Report</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reporting_Criteria_Code" type="cd2:Reporting_Criteria_Code_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Reporting Criteria Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reporting_Source_Type" type="cd2:Reporting_Source_Type_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Reporting Source Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Result_Status_Code" type="cd2:Result_Status_Code_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Result Status Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case_Class_Status_Code" type="cd2:Case_Class_Status_Code_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Case Class Status Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case_Transmission_Mode_Code" type="cd2:Case_Transmission_Mode_Code_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Case Transmission Mode Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Exposure_Report" type="cd2:Exposure_Report_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Exposure Report</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Profile_Type" type="cd2:Profile_Type_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Profile Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Assessment_Type" type="cd2:Assessment_Type_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Assessment Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Travel_Detail" type="cd2:Travel_Detail_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Travel Detail</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Profile_Condition" type="cd2:Profile_Condition_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Profile Condition</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Profile" type="cd2:Profile_" />
  <xs:element name="Assessment_Questionnaire" type="cd2:Assessment_Questionnaire_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Assessment Questionnaire</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Assessment_Question" type="cd2:Assessment_Question_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Assessment Question</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Assessment_Answer" type="cd2:Assessment_Answer_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Assessment Answer</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Assessment" type="cd2:Assessment_" />
  <xs:element name="Answer_Type" type="cd2:Answer_Type_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Answer Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Report_Type" type="cd2:Report_Type_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Report Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case_Report" type="cd2:Case_Report_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Case Report</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Travel_Purpose_Code" type="cd2:Travel_Purpose_Code_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Travel Purpose Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Exposure_Location_Report" type="cd2:Exposure_Location_Report_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Exposure Location Report</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Jurisdiction_Code" type="cd2:Jurisdiction_Code_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Jurisdiction Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Unit_Code" type="cd2:Unit_Code_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Unit Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Event_Code" type="cd2:Event_Code_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Event Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sexual_Preference_Code" type="cd2:Sexual_Preference_Code_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Sexual Preference Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Indicator_Flag_Code" type="cd2:Indicator_Flag_Code_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Indicator Flag Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Contact_Type" type="cd2:Contact_Type_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Contact Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Contact_Report" type="cd2:Contact_Report_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Contact Report</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Exposure_Setting_Code" type="cd2:Exposure_Setting_Code_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Exposure Setting Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Viral_Report" type="cd2:Viral_Report_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Viral Report</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Transmission_Setting_Code" type="cd2:Transmission_Setting_Code_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Transmission Setting Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Detection_Method_Code" type="cd2:Detection_Method_Code_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Detection Method Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case_Investigation_Stattus_Code" type="cd2:Case_Investigation_Stattus_Code_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Case Investigation Stattus Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case_Classification_Exposure_Source_Code" type="cd2:Case_Classification_Exposure_Source_Code_">
    <xs:annotation>
      <xs:documentation source="http://hc/Surveillance/">Case Classification Exposure Source Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Surveillance_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Complication_Report" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Reporting_Criteria_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Reporting_Source_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Result_Status_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Case_Class_Status_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Case_Transmission_Mode_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Exposure_Report" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Profile_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Assessment_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Travel_Detail" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Profile_Condition" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Profile" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Assessment_Questionnaire" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Assessment_Question" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Assessment_Answer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Assessment" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Answer_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Report_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Case_Report" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Travel_Purpose_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Exposure_Location_Report" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Jurisdiction_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Unit_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Event_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Sexual_Preference_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Indicator_Flag_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Contact_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Contact_Report" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Exposure_Setting_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Viral_Report" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Transmission_Setting_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Detection_Method_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Case_Investigation_Stattus_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd2:Case_Classification_Exposure_Source_Code" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>