Edam.App.Data/Projects/Datovy.HC.CD/Documents/cd.dam-xml/www.datovy.com_hc_cd_Action.xsd

<?xml version="1.0" encoding="utf-16"?>
<xs:schema xmlns:cd="http://www.datovy.com/hc/cd" xmlns:cd1="http://www.datovy.com/hc/cd/Clinical" xmlns:cd2="http://www.datovy.com/hc/cd/Surveillance" xmlns:cd3="http://www.datovy.com/hc/cd/Generic" xmlns:cd4="http://www.datovy.com/hc/cd/Geography" xmlns:cd5="http://www.datovy.com/hc/cd/Entity" xmlns:cd6="http://www.datovy.com/hc/cd/Action" xmlns:cd7="http://www.datovy.com/hc/cd/Management" xmlns:cd8="http://www.datovy.com/hc/cd/Application" xmlns:cd9="http://www.datovy.com/hc/cd/Article" xmlns:cd10="http://www.datovy.com/hc/cd/Message" xmlns:cd11="http://www.datovy.com/hc/cd/Provider" xmlns:cd12="http://www.datovy.com/hc/cd/Epidemiology" targetNamespace="http://www.datovy.com/hc/cd/Action" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Activity_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Activity ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Event_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Event ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Media_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Media ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Alternate_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Alternate ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Type_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Type ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Category_Text" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Category Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Status_Code" type="cd6:integer">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Status Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Url_Text" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Url Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Size_In_Bytes" type="cd6:integer">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Size In Bytes</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Media_Data" type="cd6:varbinary">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Media Data</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Scope_Code_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Scope Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Content_Type_Code_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Content Type Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Content_Type_Text" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Content Type Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Default_Indicator" type="cd6:boolean">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Default Indicator</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Serial_No" type="cd6:long">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Serial No</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Status_Code_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Status Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Status_DateTime" type="cd6:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Status Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reference_Date_Type_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Reference Date Type ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reference_DateTime" type="cd6:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Reference Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Tenant_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Tenant ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Data_Owner_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Data Owner ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Agency_Reporting_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Agency Reporting ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sequence_Number" type="cd6:integer">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Sequence Number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Effective_DateTime" type="cd6:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Effective Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Effective_End_DateTime" type="cd6:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Effective End Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Version_Number" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Version Number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Created_DateTime" type="cd6:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Created Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Updated_DateTime" type="cd6:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Updated Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Record_Status_Code_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Record Status Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Session_Updated_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Session Updated ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Media_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Activity_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Event_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Media_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Alternate_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Category_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Status_Code" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Url_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Size_In_Bytes" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Media_Data" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Scope_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Content_Type_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Content_Type_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Default_Indicator" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Serial_No" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Reference_Date_Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Reference_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Code_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Description" type="cd6:string" />
  <xs:element name="Category_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Category ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CodeSet_Name" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Code Set Name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Role_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Party_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Party ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Identification_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Identification ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Role_Code_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Role Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Duration" type="cd6:string" />
  <xs:element name="Organization_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Organization ID... An external reference to an (Entity) Organization</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Contact_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Contact ID... An external reference to an (Entity) Contact</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Person_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Person ID... An external reference to a (Entity) Person</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Party_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Party_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Identification_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Role_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Duration" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Activity_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Organization_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Contact_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Person_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Disposition_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Disposition ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Name" type="cd6:string" />
  <xs:element name="Priority_Code_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Priority Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reason_Code_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Reason Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Scheduled_DateTime" type="cd6:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Scheduled Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Started_DateTime" type="cd6:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Started Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Ended_DateTime" type="cd6:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Ended Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Case ID... An external reference to a (Management) Case</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Location_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Location ID... An external reference to a (Geography) Location</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Activity_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Activity_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Alternate_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Disposition_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Priority_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Reason_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Scheduled_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Started_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Ended_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Location_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Contact_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Schedule_Event_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Schedule Event ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Schedule_Event_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Schedule_Event_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Activity_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Disposition_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Priority_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Reason_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Scheduled_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Started_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Ended_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Note_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Note_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Note ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Note_Type_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Note Type ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Note_Text" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Note Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Note_DateTime" type="cd6:dateTime">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Note Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Author_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Author ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Author_Role_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Author Role ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Author_Name" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Author Name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Note_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Note_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Note_Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Note_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Note_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Author_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Author_Role_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Author_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Activity_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Event_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tags" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Provided to set a comma delimited list of Privacy, Security or other data Tags such as GDPR, HIPAA, PII or other.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Media_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Tags" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Disposition_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventType_ID" type="cd6:string">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Event Type ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Event_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Event_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Alternate_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Activity_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:EventType_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Organization_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Person_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Scheduled_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Started_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Ended_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Activity_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Reason_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Priority_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Disposition_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Disposition_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd6:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Media" type="cd6:Media_" />
  <xs:element name="Role_Code" type="cd6:Role_Code_">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Role Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Party_Type" type="cd6:Party_Type_">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Party Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Party" type="cd6:Party_" />
  <xs:element name="Activity" type="cd6:Activity_" />
  <xs:element name="Schedule_Event" type="cd6:Schedule_Event_">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Schedule Event</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Note_Type" type="cd6:Note_Type_">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Note Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Note" type="cd6:Note_" />
  <xs:element name="Media_Type" type="cd6:Media_Type_">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Media Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Disposition_Code" type="cd6:Disposition_Code_">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Disposition Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Event" type="cd6:Event_" />
  <xs:element name="Activity_Type" type="cd6:Activity_Type_">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Activity Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reason_Code" type="cd6:Reason_Code_">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Reason Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Priority_Code" type="cd6:Priority_Code_">
    <xs:annotation>
      <xs:documentation source="http://hc/Action/">Priority Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Disposition" type="cd6:Disposition_" />
  <xs:complexType name="Action_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd6:Media" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd6:Role_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd6:Party_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd6:Party" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd6:Activity" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd6:Schedule_Event" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd6:Note_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd6:Note" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd6:Media_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd6:Disposition_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd6:Event" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd6:Activity_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd6:Reason_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd6:Priority_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd6:Disposition" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>