Edam.App.Data/Projects/Datovy.HC.CD/Documents/cd.dam-xml/www.datovy.com_hc_cd_Clinical.xsd

<?xml version="1.0" encoding="utf-16"?>
<xs:schema xmlns:cd="http://www.datovy.com/hc/cd" xmlns:cd1="http://www.datovy.com/hc/cd/Clinical" xmlns:cd2="http://www.datovy.com/hc/cd/Surveillance" xmlns:cd3="http://www.datovy.com/hc/cd/Generic" xmlns:cd4="http://www.datovy.com/hc/cd/Geography" xmlns:cd5="http://www.datovy.com/hc/cd/Entity" xmlns:cd6="http://www.datovy.com/hc/cd/Action" xmlns:cd7="http://www.datovy.com/hc/cd/Management" xmlns:cd8="http://www.datovy.com/hc/cd/Application" xmlns:cd9="http://www.datovy.com/hc/cd/Article" xmlns:cd10="http://www.datovy.com/hc/cd/Message" xmlns:cd11="http://www.datovy.com/hc/cd/Provider" xmlns:cd12="http://www.datovy.com/hc/cd/Epidemiology" targetNamespace="http://www.datovy.com/hc/cd/Clinical" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Description" type="xs:string" />
  <xs:element name="Category_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Category ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CodeSet_Name" type="xs:string">
    <xs:annotation>
      <xs:documentation>Code Set Name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Tenant_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Tenant ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Data_Owner_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Data Owner ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Agency_Reporting_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Agency Reporting ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sequence_Number" type="xs:integer">
    <xs:annotation>
      <xs:documentation>Sequence Number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Effective_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Effective Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Effective_End_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Effective End Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Version_Number" type="xs:string">
    <xs:annotation>
      <xs:documentation>Version Number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Created_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Created Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Updated_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Updated Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Record_Status_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Record Status Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Session_Updated_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Session Updated ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Vaccine_Reason_Not_Given_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Vaccine_Event_Source_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Vaccine_Manufacturer_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Type_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Type ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Vaccine_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Complication_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Complication ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Complication_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Complication Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Complication_Flag_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Complication Flag ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Acquired_DateTime" type="xs:date">
    <xs:annotation>
      <xs:documentation>Acquired Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Recorded_DateTime" type="xs:date">
    <xs:annotation>
      <xs:documentation>Recorded Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Case_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Case ID... External reference for (Management) Case</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Subject_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Subject ID... External reference for (Entity) Person</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Complication_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Complication_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Complication_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Complication_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Acquired_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Recorded_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Subject_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Complication_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Manifestation_Report_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Manifestation Report ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Report_Date" type="xs:date">
    <xs:annotation>
      <xs:documentation>Report Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Manifestation_Date" type="xs:date">
    <xs:annotation>
      <xs:documentation>Manifestation Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Manifestation_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Manifestation Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Manifestation_Flag_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Manifestation Flag ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Manifestation_Report_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Manifestation_Report_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Report_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Manifestation_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Manifestation_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Manifestation_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Subject_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Manifestation_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Medication_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Medication ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Alternate_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Alternate ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Medication_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Medication Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Dose_Form_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>The form of a dosage such as 25mg of powder, tablets, capsule, or other</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Purpose_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Purpose Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Prescribed_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Prescribed Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Monitor_Medication_Flag" type="xs:string">
    <xs:annotation>
      <xs:documentation>Monitor Medication Flag</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Monitor_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Monitor Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Dosage_Ordered" type="xs:DECIMAL">
    <xs:annotation>
      <xs:documentation>Specification and details of an order dosage as stated by a practictioner</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Dosage_Ordered_Unit_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Dosage Ordered Unit Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Dosage_Strength" type="xs:DECIMAL">
    <xs:annotation>
      <xs:documentation>Amount of a dosage such as 2.5 milligram Dosage</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Dosage_Strength_Unit_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Dosage Strength Unit Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Measure_Unit" type="xs:DECIMAL">
    <xs:annotation>
      <xs:documentation>Unit of Measure such as 2 mL per capsule per tablet</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Measure_Unit_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Measure Unit Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Dosage_Calculated" type="xs:string">
    <xs:annotation>
      <xs:documentation>Dosage Calculated</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Frequency_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Frequency of ingestion of a medication</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AdditionalInstruction" type="xs:string" />
  <xs:element name="Status_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Status Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Status_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Status Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Medication_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Medication_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Alternate_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Medication_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Dose_Form_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Purpose_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Prescribed_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Monitor_Medication_Flag" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Monitor_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Dosage_Ordered" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Dosage_Ordered_Unit_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Dosage_Strength" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Dosage_Strength_Unit_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Measure_Unit" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Measure_Unit_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Dosage_Calculated" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Frequency_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:AdditionalInstruction" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Subject_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Treatment_Id" type="xs:string">
    <xs:annotation>
      <xs:documentation>Treatment Id</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Given_Indicator" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>If treatment was administered</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Name" type="xs:string">
    <xs:annotation>
      <xs:documentation>Name of treatment</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Start_Date" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Date treatment began/was given</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="End_Date" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Date treatment ended</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Quantity" type="xs:DECIMAL">
    <xs:annotation>
      <xs:documentation>Amount of the treatment given</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Form" type="xs:string">
    <xs:annotation>
      <xs:documentation>Method treatment was administered</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Comment" type="xs:string">
    <xs:annotation>
      <xs:documentation>Comments about treatment this will be changed to a note</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Activity_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Activity ID... External reference for (Action) Activity</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Treatment_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Treatment_Id" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Given_Indicator" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Start_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:End_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Quantity" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Form" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Comment" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Activity_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Subject_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Syndrome_Secondary_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Syndrome_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Birth_Status_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Infant_Report_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Infant Report ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Birth_Weight" type="xs:integer">
    <xs:annotation>
      <xs:documentation>Birth Weight</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Birth_Gestational_Age" type="xs:integer">
    <xs:annotation>
      <xs:documentation>Birth Gestational Age</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Birth_Status_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Birth Status Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Infant_Report_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Infant_Report_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Report_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Birth_Weight" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Birth_Gestational_Age" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Birth_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Subject_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Synmptom_Sign_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Synmptom Sign ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sign_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Sign Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sign_Flag_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Sign Flag ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Symptom_Sign_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Synmptom_Sign_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sign_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sign_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Acquired_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Recorded_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Subject_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Symptom_Sign_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Stage_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Pregnancy_Trimester_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Maternal_Report_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Maternal Report ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Jurisdiction_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Provide the national reporting jurisdiction used for reporting mother's case.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Pregnancies_Total" type="xs:integer">
    <xs:annotation>
      <xs:documentation>Number of pregnancies. This includes current pregnancy and previous pregnancies (Gravida).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Births_Live_Total" type="xs:integer">
    <xs:annotation>
      <xs:documentation>Number of mother's live births.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Menstrual_Period_Last_Date" type="xs:date">
    <xs:annotation>
      <xs:documentation>Date of mother's last menstrual period before delivery.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Prenatal_Visit_First_Date" type="xs:date">
    <xs:annotation>
      <xs:documentation>Date of mother's first prenatal visit.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Prenatal_Visit_Flag" type="xs:string">
    <xs:annotation>
      <xs:documentation>Indicate if there was a prenatal visit.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Prenatal_Trimester_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Indicate trimester of first prenatal visit.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Maternal_Report_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Maternal_Report_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Report_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Jurisdiction_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Pregnancies_Total" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Births_Live_Total" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Menstrual_Period_Last_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Prenatal_Visit_First_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Prenatal_Visit_Flag" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Prenatal_Trimester_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Subject_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Blood_Product_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Blood_Transfusion_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Blood Transfusion ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Donated_Product_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Donated Product Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Donated_Date" type="xs:date">
    <xs:annotation>
      <xs:documentation>Donated Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Donor_Flag_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>In the year before symptom onset or diagnosis (use earlier date), did the subject donate blood? YNU</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Donor_Implicated_Flag_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Was the subject a blood donor identified during a transfusion investigation i.e., had positive Babesia test results and was linked to an infected recipient)? YNU</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Transfusion_Associated_Flag_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Was the subject’s infection transfusion associated? YNU</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Transfused_Product_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Transfused Product Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Transfused_Date" type="xs:date">
    <xs:annotation>
      <xs:documentation>Transfused Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Organ_Transplant_Flag_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>In the month before symptom onset or diagnosis (use earlier date), did the subject receive an organ transplant? YNU</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Blood_Transfusion_Report_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Blood_Transfusion_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Donated_Product_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Donated_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Donor_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Donor_Implicated_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Transfusion_Associated_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Transfused_Product_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Transfused_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Organ_Transplant_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Subject_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Indicator_Flag_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vitals_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Vitals ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Profile_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Profile Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Body_Site_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Body Site Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Body_Position_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Body Position Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Device_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Device Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Method" type="xs:string" />
  <xs:element name="Unit_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Unit Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Component_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Component Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Measured_Value" type="xs:string">
    <xs:annotation>
      <xs:documentation>Measured Value</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Vitals_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Vitals_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Profile_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Body_Site_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Body_Position_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Device_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Method" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Unit_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Component_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Measured_Value" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Subject_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Virus_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Unit_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Condition_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Condition ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Qualifier_Text" type="xs:string">
    <xs:annotation>
      <xs:documentation>Drugs</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Qualifier_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Name of Drugs</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Severity_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Severe Moderate Mild</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Disease_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Disease Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Acquired_Jurisdiction_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Acquired Jurisdiction Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Acquired_Date" type="xs:date">
    <xs:annotation>
      <xs:documentation>Acquired Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Recorded_Date" type="xs:date">
    <xs:annotation>
      <xs:documentation>Recorded Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reported_Date" type="xs:date">
    <xs:annotation>
      <xs:documentation>Reported Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Diagnosis_Date" type="xs:date">
    <xs:annotation>
      <xs:documentation>Diagnosis Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Duration_Total" type="xs:integer">
    <xs:annotation>
      <xs:documentation>Duration Total</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Duration_Unit_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Duration Unit Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Stage_Clinical_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Stage Clinical Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Stage_Surveillance_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Stage Surveillance Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Condition_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Condition_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Subject_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Qualifier_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Qualifier_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Severity_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Disease_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Acquired_Jurisdiction_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Acquired_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Recorded_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Reported_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Diagnosis_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Duration_Total" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Duration_Unit_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Body_Site_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Body_Position_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Stage_Clinical_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Stage_Surveillance_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Dosage_Form_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Disease_Condition_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Jurisdiction_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Device_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Body_Site_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Body_Position_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Immunization_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Immunization ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Vaccination_Record_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Vaccination Record ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Vaccine_Type_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Vaccine Type ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Vaccine_Manufacturer_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Vaccine Manufacturer Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Vaccine_Event_Source_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Vaccine Event Source Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Vaccinated_Flag_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Vaccinated Flag ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Administered_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Administered Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Dosage_Series_Number" type="xs:string">
    <xs:annotation>
      <xs:documentation>Dosage Series Number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Dosage_Amount" type="xs:string">
    <xs:annotation>
      <xs:documentation>Dosage Amount</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Lot_Number" type="xs:string">
    <xs:annotation>
      <xs:documentation>Lot Number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Expiration_Date" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Expiration Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Drug_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Drug Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reason_Not_Give_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Reason Not Give Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Organization_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Manufacturer ID and Name from Organization Table as a lookup... External reference for (Entity) Organization</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Immunization_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Immunization_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Vaccination_Record_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Vaccine_Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Vaccine_Manufacturer_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Vaccine_Event_Source_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Vaccinated_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Administered_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Dosage_Series_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Dosage_Amount" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Lot_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Expiration_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Drug_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Reason_Not_Give_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Activity_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Organization_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Subject_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Finding_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Finding ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Finding_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Finding Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Finding_Flag_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Finding Flag ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Finding_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Finding_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Reported_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Finding_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Finding_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Subject_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Finding_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Risk_Factor_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Risk Factor ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Factor_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Factor Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Factor_Flag_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Factor Flag ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Risk_Factor_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Risk_Factor_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Reported_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Factor_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Factor_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Case_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Subject_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Risk_Factor_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd1:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vaccine_Reason_Not_Given_Code" type="cd1:Vaccine_Reason_Not_Given_Code_">
    <xs:annotation>
      <xs:documentation>Vaccine Reason Not Given Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Vaccine_Event_Source_Code" type="cd1:Vaccine_Event_Source_Code_">
    <xs:annotation>
      <xs:documentation>Vaccine Event Source Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Vaccine_Manufacturer_Code" type="cd1:Vaccine_Manufacturer_Code_">
    <xs:annotation>
      <xs:documentation>Vaccine Manufacturer Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Vaccine_Type" type="cd1:Vaccine_Type_">
    <xs:annotation>
      <xs:documentation>Vaccine Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Complication" type="cd1:Complication_" />
  <xs:element name="Complication_Code" type="cd1:Complication_Code_">
    <xs:annotation>
      <xs:documentation>Complication Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Manifestation_Report" type="cd1:Manifestation_Report_">
    <xs:annotation>
      <xs:documentation>Manifestation Report</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Manifestation_Code" type="cd1:Manifestation_Code_">
    <xs:annotation>
      <xs:documentation>Manifestation Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Medication" type="cd1:Medication_" />
  <xs:element name="Treatment" type="cd1:Treatment_" />
  <xs:element name="Syndrome_Secondary_Code" type="cd1:Syndrome_Secondary_Code_">
    <xs:annotation>
      <xs:documentation>Syndrome Secondary Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Syndrome_Code" type="cd1:Syndrome_Code_">
    <xs:annotation>
      <xs:documentation>Syndrome Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Birth_Status_Code" type="cd1:Birth_Status_Code_">
    <xs:annotation>
      <xs:documentation>Birth Status Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Infant_Report" type="cd1:Infant_Report_">
    <xs:annotation>
      <xs:documentation>Infant Report</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Symptom_Sign" type="cd1:Symptom_Sign_">
    <xs:annotation>
      <xs:documentation>Symptom Sign</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Symptom_Sign_Code" type="cd1:Symptom_Sign_Code_">
    <xs:annotation>
      <xs:documentation>Symptom Sign Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Stage_Code" type="cd1:Stage_Code_">
    <xs:annotation>
      <xs:documentation>Stage Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Pregnancy_Trimester_Code" type="cd1:Pregnancy_Trimester_Code_">
    <xs:annotation>
      <xs:documentation>Pregnancy Trimester Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Maternal_Report" type="cd1:Maternal_Report_">
    <xs:annotation>
      <xs:documentation>Maternal Report</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Blood_Product_Code" type="cd1:Blood_Product_Code_">
    <xs:annotation>
      <xs:documentation>Blood Product Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Blood_Transfusion_Report" type="cd1:Blood_Transfusion_Report_">
    <xs:annotation>
      <xs:documentation>Blood Transfusion Report</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Indicator_Flag_Code" type="cd1:Indicator_Flag_Code_">
    <xs:annotation>
      <xs:documentation>Indicator Flag Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Vitals" type="cd1:Vitals_" />
  <xs:element name="Virus_Type" type="cd1:Virus_Type_">
    <xs:annotation>
      <xs:documentation>Virus Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Unit_Code" type="cd1:Unit_Code_">
    <xs:annotation>
      <xs:documentation>Unit Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Condition" type="cd1:Condition_" />
  <xs:element name="Dosage_Form_Code" type="cd1:Dosage_Form_Code_">
    <xs:annotation>
      <xs:documentation>Dosage Form Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Disease_Condition_Code" type="cd1:Disease_Condition_Code_">
    <xs:annotation>
      <xs:documentation>Disease Condition Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Jurisdiction_Code" type="cd1:Jurisdiction_Code_">
    <xs:annotation>
      <xs:documentation>Jurisdiction Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Device_Code" type="cd1:Device_Code_">
    <xs:annotation>
      <xs:documentation>Device Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Body_Site_Code" type="cd1:Body_Site_Code_">
    <xs:annotation>
      <xs:documentation>Body Site Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Body_Position_Code" type="cd1:Body_Position_Code_">
    <xs:annotation>
      <xs:documentation>Body Position Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Immunization" type="cd1:Immunization_" />
  <xs:element name="Finding" type="cd1:Finding_" />
  <xs:element name="Finding_Code" type="cd1:Finding_Code_">
    <xs:annotation>
      <xs:documentation>Finding Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Risk_Factor" type="cd1:Risk_Factor_">
    <xs:annotation>
      <xs:documentation>Risk Factor</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Risk_Factor_Code" type="cd1:Risk_Factor_Code_">
    <xs:annotation>
      <xs:documentation>Risk Factor Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Clinical_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Vaccine_Reason_Not_Given_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Vaccine_Event_Source_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Vaccine_Manufacturer_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Vaccine_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Complication" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Complication_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Manifestation_Report" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Manifestation_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Medication" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Treatment" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Syndrome_Secondary_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Syndrome_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Birth_Status_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Infant_Report" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Symptom_Sign" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Symptom_Sign_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Stage_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Pregnancy_Trimester_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Maternal_Report" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Blood_Product_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Blood_Transfusion_Report" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Indicator_Flag_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Vitals" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Virus_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Unit_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Condition" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Dosage_Form_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Disease_Condition_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Jurisdiction_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Device_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Body_Site_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Body_Position_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Immunization" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Finding" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Finding_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Risk_Factor" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd1:Risk_Factor_Code" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>