Edam.App.Data/Projects/Datovy.HC.CD/Documents/cd.dam-xml/www.datovy.com_hc_cd_Entity.xsd

<?xml version="1.0" encoding="utf-16"?>
<xs:schema xmlns:cd="http://www.datovy.com/hc/cd" xmlns:cd1="http://www.datovy.com/hc/cd/Clinical" xmlns:cd2="http://www.datovy.com/hc/cd/Surveillance" xmlns:cd3="http://www.datovy.com/hc/cd/Generic" xmlns:cd4="http://www.datovy.com/hc/cd/Geography" xmlns:cd5="http://www.datovy.com/hc/cd/Entity" xmlns:cd6="http://www.datovy.com/hc/cd/Action" xmlns:cd7="http://www.datovy.com/hc/cd/Management" xmlns:cd8="http://www.datovy.com/hc/cd/Application" xmlns:cd9="http://www.datovy.com/hc/cd/Article" xmlns:cd10="http://www.datovy.com/hc/cd/Message" xmlns:cd11="http://www.datovy.com/hc/cd/Provider" xmlns:cd12="http://www.datovy.com/hc/cd/Epidemiology" targetNamespace="http://www.datovy.com/hc/cd/Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Type_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Type ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Description" type="xs:string" />
  <xs:element name="Category_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Category ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CodeSet_Name" type="xs:string">
    <xs:annotation>
      <xs:documentation>Code Set Name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Tenant_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Tenant ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Data_Owner_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Data Owner ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Agency_Reporting_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Agency Reporting ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sequence_Number" type="xs:integer">
    <xs:annotation>
      <xs:documentation>Sequence Number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Effective_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Effective Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Effective_End_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Effective End Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Version_Number" type="xs:string">
    <xs:annotation>
      <xs:documentation>Version Number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Created_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Created Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Updated_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Updated Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Record_Status_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Record Status Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Session_Updated_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Session Updated ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Person_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Contact ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Alternate_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Alternate ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Name" type="xs:string" />
  <xs:element name="Sex_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Sex Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Phone_Number" type="xs:string">
    <xs:annotation>
      <xs:documentation>Phone Number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Email_Addresss" type="xs:string">
    <xs:annotation>
      <xs:documentation>Email Addresss</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Risk_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Risk Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Priority_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Priority Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Jurisdiction_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>have the information for the jurisdiction -- jurisdiction table will be required.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Status_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Status Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Status_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Status Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Person_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Person ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Organization_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Organization ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Officer_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Officer ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Contact_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Contact_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Alternate_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sex_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Phone_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Email_Addresss" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Risk_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Priority_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Jurisdiction_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Person_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Organization_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Officer_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Number_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Number ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="URL" type="xs:string" />
  <xs:complexType name="Organization_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Organization_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Number_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Alternate_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:URL" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person_Death_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Person Death ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Source_Text" type="xs:string">
    <xs:annotation>
      <xs:documentation>Source Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Death_Date" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Death Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Death_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Death Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Death_Date_Text" type="xs:string">
    <xs:annotation>
      <xs:documentation>Death Date Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Cause_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Cause Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Person_Death_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Person_Death_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Person_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Source_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Death_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Death_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Death_Date_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Cause_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person_Flag_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Person Flag ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Flag_Value" type="xs:string">
    <xs:annotation>
      <xs:documentation>'Y'</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Person_Flag_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Person_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Person_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Flag_Value" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location_Link_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Location Link ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Location_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Location ID... External reference for (Geography) Location</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Location_Link_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Location_Link_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Location_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Person_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Organization_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Officer_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Contact_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Identification_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Identification ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Identification_Number" type="xs:string">
    <xs:annotation>
      <xs:documentation>Identification Number</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Class_Code" type="xs:string">
    <xs:annotation>
      <xs:documentation>Class Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Enacted_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Enacted Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Expiration_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Expiration Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Identification_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Identification_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Identification_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Class_Code" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Jurisdiction_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Enacted_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Expiration_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Person_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Organization_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Officer_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Contact_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Communication_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Communication ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Device_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Phone, Fax</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Device_Usage_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Work, Home, Office</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Phone_Country_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Phone Country Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Phone_Area_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Phone Area Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Extension" type="xs:string" />
  <xs:complexType name="Communication_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Communication_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Device_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Device_Usage_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Phone_Country_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Phone_Area_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Phone_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Extension" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Person_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Organization_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Officer_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Contact_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Organization_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Officer_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Registry_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Registry ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Officer_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Officer_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Alternate_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Registry_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Organization_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Person_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Contact_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tags" type="xs:string">
    <xs:annotation>
      <xs:documentation>Provided to set a comma delimited list of Privacy, Security or other data Tags such as GDPR, HIPAA, PII or other.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Device_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tags" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact_Emergency_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Contact Emergency ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Contact_Emergency_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Contact_Emergency_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Person_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sex_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Phone_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Email_Addresss" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Contact_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Identification_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tags" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Sexual_Orientation_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Gender_Identity_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Employment_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employment_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Employment ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Employer_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Employer ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Employee_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Employee ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Industry_Text" type="xs:string">
    <xs:annotation>
      <xs:documentation>Industry Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Industry_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Industry Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Occupation_Text" type="xs:string">
    <xs:annotation>
      <xs:documentation>Occupation Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Occupation_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Occupation Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Start_Date" type="xs:date">
    <xs:annotation>
      <xs:documentation>Start Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Ended_Date" type="xs:date">
    <xs:annotation>
      <xs:documentation>Ended Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Employment_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Employment_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Employer_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Employee_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Industry_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Industry_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Occupation_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Occupation_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Start_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Ended_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Entity_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Sex_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Ethnicity_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Race_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Name_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Name ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Name_Type_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>A name type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Name_Given" type="xs:string">
    <xs:annotation>
      <xs:documentation>A given name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Name_Middle" type="xs:string">
    <xs:annotation>
      <xs:documentation>A middle name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Name_Family" type="xs:string">
    <xs:annotation>
      <xs:documentation>A family name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Name_Prefix_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>A name prefix</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Name_Suffix_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>A name suffix</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Name_Full" type="xs:string">
    <xs:annotation>
      <xs:documentation>A person or entity full name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Name_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Person_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Name_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Name_Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Name_Given" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Name_Middle" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Name_Family" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Name_Prefix_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Name_Suffix_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Name_Full" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Name_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Note_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Note_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Note ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Note_Type_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Note Type ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Note_Text" type="xs:string">
    <xs:annotation>
      <xs:documentation>Note Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Note_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Note Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Author_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Author ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Author_Role_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Author Role ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Author_Name" type="xs:string">
    <xs:annotation>
      <xs:documentation>Author Name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Note_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Note_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Note_Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Note_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Note_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Author_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Author_Role_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Author_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Person_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Organization_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Officer_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Contact_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Media_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tags" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Media_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Media ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Category_Text" type="xs:string">
    <xs:annotation>
      <xs:documentation>Category Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Status_Code" type="xs:integer">
    <xs:annotation>
      <xs:documentation>Status Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Url_Text" type="xs:string">
    <xs:annotation>
      <xs:documentation>Url Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Size_In_Bytes" type="xs:integer">
    <xs:annotation>
      <xs:documentation>Size In Bytes</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Media_Data" type="xs:string">
    <xs:annotation>
      <xs:documentation>Media Data</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Scope_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Scope Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Content_Type_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Content Type Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Content_Type_Text" type="xs:string">
    <xs:annotation>
      <xs:documentation>Content Type Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Media_Default_Indicator" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>Media Default Indicator</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Serial_No" type="xs:long">
    <xs:annotation>
      <xs:documentation>Serial No</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reference_Date_Type_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Reference Date Type ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Reference_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Reference Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Media_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Media_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Alternate_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_Code" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Url_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Size_In_Bytes" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Media_Data" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Scope_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Content_Type_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Content_Type_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Media_Default_Indicator" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Serial_No" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Reference_Date_Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Reference_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Person_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Organization_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Officer_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Contact_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item_Link_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Item Link ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Item_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Item ID... External reference for (Management) Case</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Item_Link_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Item_Link_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Item_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Person_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Organization_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Officer_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Contact_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Flag_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="URI_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>URI ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Absolute_URI" type="xs:string">
    <xs:annotation>
      <xs:documentation>Absolute URI</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Category_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Category Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Uri_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:URI_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Absolute_URI" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Person_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Organization_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Officer_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Contact_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Uri_Type_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tags" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Status_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Industry_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Occupation_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Marital_Status_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Indicator_Flag_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Affiliation_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Affiliation ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Entity_Name" type="xs:string">
    <xs:annotation>
      <xs:documentation>Entity Name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Affiliated_Flag_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Affiliated Flag ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Enrolled_Flag_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Enrolled Flag ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Enrolled_Date" type="xs:date">
    <xs:annotation>
      <xs:documentation>Enrolled Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Affiliation_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Affiliation_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Organization_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Person_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Entity_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Affiliated_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Enrolled_Flag_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Enrolled_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Religion_Code_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Description" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Category_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:CodeSet_Name" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Birth_DateTime" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Birth Date Time</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Birth_Date" type="xs:date">
    <xs:annotation>
      <xs:documentation>Birth Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Birth_Date_Text" type="xs:string">
    <xs:annotation>
      <xs:documentation>Birth Date Text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Birth_Location_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Birth Location ID... Birth Location ID is a reference to a location detailed elsewhere</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Birth_Weight" type="xs:integer">
    <xs:annotation>
      <xs:documentation>Birth weight (in grams)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sex_Birth_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Sex at Birth: Male, Female, Other, Unknown</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Gender_Identity_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>The person identifies the Identity as</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sexual_Orientation_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Sexual Orientation Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Height" type="xs:integer" />
  <xs:element name="Height_Unit_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Height Unit Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Weight" type="xs:integer" />
  <xs:element name="Weight_Unit_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Weight Unit Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Ethnicity_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Ethnicity Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Race_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Race Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Language_Primary_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Language Primary ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Language_Secondary_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Language Secondary ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Education_Level_Highest_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Education Level Highest Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Religion_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Religion Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Marital_Status_Date" type="xs:date">
    <xs:annotation>
      <xs:documentation>Marital Status Date</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Marital_Status_Code_ID" type="xs:string">
    <xs:annotation>
      <xs:documentation>Marital Status Code ID</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="Person_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Person_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Alternate_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Birth_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Birth_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Birth_Date_Text" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Birth_Location_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Birth_Weight" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Name_Type_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Name_Given" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Name_Middle" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Name_Family" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Name_Prefix_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Name_Suffix_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Name_Full" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sex_Birth_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sex_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Gender_Identity_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sexual_Orientation_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Height" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Height_Unit_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Weight" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Weight_Unit_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Ethnicity_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Race_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Language_Primary_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Language_Secondary_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Education_Level_Highest_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Religion_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Marital_Status_Date" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Marital_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Status_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Tenant_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Data_Owner_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Agency_Reporting_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Sequence_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Effective_End_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Version_Number" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Created_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Updated_DateTime" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Record_Status_Code_ID" />
      <xs:element minOccurs="0" maxOccurs="1" ref="cd5:Session_Updated_ID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person_Type" type="cd5:Person_Type_">
    <xs:annotation>
      <xs:documentation>Person Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Contact" type="cd5:Contact_" />
  <xs:element name="Organization" type="cd5:Organization_" />
  <xs:element name="Person_Death" type="cd5:Person_Death_">
    <xs:annotation>
      <xs:documentation>Person Death</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Person_Flag" type="cd5:Person_Flag_">
    <xs:annotation>
      <xs:documentation>Person Flag</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Location_Link" type="cd5:Location_Link_">
    <xs:annotation>
      <xs:documentation>Location Link</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Identification" type="cd5:Identification_" />
  <xs:element name="Communication" type="cd5:Communication_" />
  <xs:element name="Organization_Type" type="cd5:Organization_Type_">
    <xs:annotation>
      <xs:documentation>Organization Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Officer_Type" type="cd5:Officer_Type_">
    <xs:annotation>
      <xs:documentation>Officer Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Officer" type="cd5:Officer_" />
  <xs:element name="Device_Type" type="cd5:Device_Type_">
    <xs:annotation>
      <xs:documentation>Device Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Contact_Emergency" type="cd5:Contact_Emergency_">
    <xs:annotation>
      <xs:documentation>Contact Emergency</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Contact_Type" type="cd5:Contact_Type_">
    <xs:annotation>
      <xs:documentation>Contact Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Identification_Type" type="cd5:Identification_Type_">
    <xs:annotation>
      <xs:documentation>Identification Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sexual_Orientation_Code" type="cd5:Sexual_Orientation_Code_">
    <xs:annotation>
      <xs:documentation>Sexual Orientation Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Gender_Identity_Code" type="cd5:Gender_Identity_Code_">
    <xs:annotation>
      <xs:documentation>Gender Identity Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Employment_Type" type="cd5:Employment_Type_">
    <xs:annotation>
      <xs:documentation>Employment Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Employment" type="cd5:Employment_" />
  <xs:element name="Entity_Type" type="cd5:Entity_Type_">
    <xs:annotation>
      <xs:documentation>Entity Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Sex_Code" type="cd5:Sex_Code_">
    <xs:annotation>
      <xs:documentation>Sex Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Ethnicity_Code" type="cd5:Ethnicity_Code_">
    <xs:annotation>
      <xs:documentation>Ethnicity Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Race_Code" type="cd5:Race_Code_">
    <xs:annotation>
      <xs:documentation>Race Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Name_Type" type="cd5:Name_Type_">
    <xs:annotation>
      <xs:documentation>Name Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Note_Type" type="cd5:Note_Type_">
    <xs:annotation>
      <xs:documentation>Note Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Note" type="cd5:Note_" />
  <xs:element name="Media_Type" type="cd5:Media_Type_">
    <xs:annotation>
      <xs:documentation>Media Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Media" type="cd5:Media_" />
  <xs:element name="Item_Link" type="cd5:Item_Link_">
    <xs:annotation>
      <xs:documentation>Item Link</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Flag_Code" type="cd5:Flag_Code_">
    <xs:annotation>
      <xs:documentation>Flag Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Uri" type="cd5:Uri_" />
  <xs:element name="Uri_Type" type="cd5:Uri_Type_">
    <xs:annotation>
      <xs:documentation>Uri Type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Industry_Code" type="cd5:Industry_Code_">
    <xs:annotation>
      <xs:documentation>Industry Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Occupation_Code" type="cd5:Occupation_Code_">
    <xs:annotation>
      <xs:documentation>Occupation Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Marital_Status_Code" type="cd5:Marital_Status_Code_">
    <xs:annotation>
      <xs:documentation>Marital Status Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Indicator_Flag_Code" type="cd5:Indicator_Flag_Code_">
    <xs:annotation>
      <xs:documentation>Indicator Flag Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Affiliation" type="cd5:Affiliation_" />
  <xs:element name="Religion_Code" type="cd5:Religion_Code_">
    <xs:annotation>
      <xs:documentation>Religion Code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Person" type="cd5:Person_" />
  <xs:complexType name="Entity_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Person_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Contact" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Organization" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Person_Death" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Person_Flag" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Location_Link" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Identification" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Communication" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Organization_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Officer_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Officer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Device_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Contact_Emergency" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Contact_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Identification_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Sexual_Orientation_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Gender_Identity_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Employment_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Employment" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Entity_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Sex_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Ethnicity_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Race_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Name" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Name_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Note_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Note" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Media_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Media" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Item_Link" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Flag_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Uri" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Uri_Type" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Status_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Industry_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Occupation_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Marital_Status_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Indicator_Flag_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Affiliation" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Religion_Code" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="cd5:Person" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>